*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container .grid [class^="col-"] {
    /* background-color: #83e3ff; */
    /* box-shadow: inset 0 0 0 5px #9ce9ff; */
    /* box-shadow: inset 0 0 0 15px rgba(0,0,0,1); */
    background-color: rgba(0,0,0,0.3);
}

.col-grid {
    /* background-color: #83e3ff; */
    padding-left: 25px;
    padding-right: 25px;
    /* box-shadow: inset 0 0 0 5px #9ce9ff; */
    /* box-shadow: inset 0 0 0 20px rgba(0,0,0,0.2); */
}

  .grid {
    min-height: 100px;
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        height: 600px;
    }
}


/********** Content after this **********/

body {
	background-color: rgb(68, 47, 35);
	color: rgb(248, 234, 207);
	color: #ffffff;
    background-image: url("../img/bg_wooden_planks.jpg");
    background-image: url("../img/bg_wooden_planks_2.jpg");
	background-repeat: repeat;
	background-attachment: fixed;
	background-position: center;
    background-size: 25%;
    /* background-blend-mode: screen; */
}

/* @media (orientation: landscape) {
    body {
        background-image: url("../img/bg_wood_large_l.jpg");
        background-size: 100% 100%;
    }
} */


.title {
    align-items: start;
    display: flex;
}

.title img {
    max-width: inherit;
    /* max-height: 200px; */
}

.pullup {
    /* margin-top: -200px */
}
item::after, detail::after, date::after{
    content: "\a";
    white-space: pre;
}

item {
    font-weight: 600;
    font: bold 16px Georgia, serif;
}

detail {
    font-weight: 100;
    /* font: italic 10px Georgia, serif; */
    font: italic 14px Georgia, serif;
}


.direction-row .card-bg-img {
    display: block;
    float: left;
    width: 40%;
    max-width: 40%;
    min-height: 150px;
    align-self: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
}